
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    Bu Sayfa layout sayfalarından beslenmemektedir.
    @await Html.PartialAsync("_MenuPartialView")
    @Html.Partial("_MenuPartialView")
</body>
</html>
